<html xmlns="http://xineartsolutions.com">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Bla bla bla</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>