<nav>
    <div class="site-title">
        <a href="/"><h1>Xineart</h1></a>
        <p><%= title %></p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li class="dropdown">
            <a href="#">More ▼</a>
            <ul class="dropdown-menu">
                <li><a href="/community">Communities</a></li>
                <li><a href="/group">Groups</a></li>
                <li><a href="/contributor">Contributors</a></li>
                <li><a href="/contribution">Contributions</a></li>
                <li><a href="/expense">Expenses</a></li>
                <li><a href="/expectation">Expectations</a></li>
            </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
