<html xmlns="http://xineartsolutions.com">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="login-container">
        <h2>Change Password</h2>
        <% if (error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>

        <form action="/contributor/changepassword" method="POST">
            <div class="form-group">
                <label for="PasswordOld">Old Password:</label>
                <input type="password" id="PasswordOld" name="PasswordOld" required />
            </div>

            <div class="form-group">
                <label for="PasswordNew">New Password:</label>
                <input type="password" id="PasswordNew" name="PasswordNew" required />
            </div>

            <div class="form-group">
                <label for="PasswordConfirm">Confirm Password:</label>
                <input type="password" id="PasswordConfirm" name="PasswordConfirm" required />
            </div>

            <div class="form-buttons">
                <button type="submit">Change</button>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
</html>